:root{
    --color_fondo:rgb(56, 56, 56);
    --color_footer: rgb(0, 0, 0);
    --color_nav: rgb(0, 0, 0);
    --color_text_default: rgb(179, 179, 179);
    --color_text_footer: rgb(114, 114, 114);
}

body, html{
    margin: 0px;
    background-color: var(--color_fondo);
    font-family: Montserrat;
    color: var(--color_text_default);
    scroll-behavior: smooth;
}

header{
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav{
    background-color: var(--color_nav);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icono img{
    width: 200px;
    height: 40px;
    margin: 10px 70px;
}

.nav_options{
    display: inline-flex;
}

.nav ul{
    margin-right: 20px;
}

.nav li{
    list-style: none;
    display: inline;
    margin-right: 40px;  
    transition: 0.5s;  
}

.nav a {
    font-size: small;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    height: 60px;
    transition: 0.5s;
}

.nav a:hover{
    text-shadow: 0 0 6px white;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}

.nav ul:hover > :not(:hover){
    transition: 0.5s;
    opacity: 0;
}

button, a{
    cursor: pointer;
}

.login_button{
    align-self: center;
    width: 40px;
    height:40px;
    background-color: rgb(66, 66, 66);
    border-radius: 40px;
    color: white;
    margin-right: 30px;
    transition: 0.5s;
    border: none;
}

.login_button:hover{
    background-color: rgb(78, 78, 78);
}

.login_button:active{
    background-color: rgb(48, 48, 48);
    transition: 0s;
}

.lottie{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

footer{
    height: 150px;
    background-color: var(--color_footer);
    display: flex;
    justify-content: space-between;
}

.social_icons{
    margin: 35px;
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social_icons ul, li{
    list-style: none;
    display: flex;
    margin: 10px;

}
.social_icons .fa-brands{
    font-size: 27px;
    transition: 0.3s;
    color: var(--color_text_footer);
}
.social_icons .fa-brands:hover{
    transform: translateY(-5px);
}
.fa-instagram::before {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
}
.fa-instagram:hover::before{
    -webkit-text-fill-color: transparent;
}
.fa-square-facebook:hover{
    color: rgb(59, 89, 152);
}
.fa-youtube:hover{
    color: rgb(255, 0, 0);
}

.fa-linkedin:hover{
    color: rgb(14, 118, 168);
}
.fa-twitter:hover{
    color: rgb(0, 172, 238);
}
.terms{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.terms ul{
    list-style: none;
    display: flex;
}

.terms li{
    padding: 5px 30px;
    margin: 0px; 
}

.terms li:not(:last-of-type){
    border-right: 1px solid var(--color_text_footer);
}

.terms a {
    font-size: x-small;
    color: var(--color_text_footer);
}
.contact{
    width: 20%;
    color: var(--color_text_footer);
    text-align: right;
    display: block;
    align-items: center;
    justify-content: center;
    margin: 25px 50px;
}
.mensaje404{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mensaje404 h1{
    font-size: 400px;
    font-weight: bold;
    color:rgb(197, 197, 197);
}
.lottie{
    display: flex;
    align-items: center;
    justify-content: center;
}
.frame_popup{
    display: none;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 50;
    margin-top: 90px;
    transition: 1s;
}
.popup_container{
    margin-top: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.3);  
    backdrop-filter: blur(10px);
    border-radius: 20px;
    transition: all 0.8s;
    overflow: hidden; 
}

.lottie_popup{
    opacity: 0.5;
    margin-bottom: 90px;
}

#login_lottie{
    width: 200px;
}
#signin_lottie{
    width: 100px;
}

.popup_form {
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup_form input{
    border: none;
    outline: none;
    border-radius: 5px;
}
.popup_form input:not([type="submit"], [type="checkbox"], [type="password"]){    
    width: 450px;
    margin: 20px 70px;
}

.popup_form input:not([type="submit"], [type="checkbox"]){
    padding:15px 15px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.5s;
}

#login input[type="password"]{
    width: 450px;
    margin: 20px 70px;
}

#signin input[type="password"]{
    width: 197px;
}

#signin input[type="password"]:nth-of-type(1){
    margin: 20px 0px 20px 71px;
}

#signin input[type="password"]:nth-of-type(2){
    margin: 20px 0px 20px 25px;
}

.popup_form input:not([type="submit"], [type="checkbox"]):focus{
    background-color: rgba(255, 255, 255, 0.8);
}
.popup_form input[type="submit"]{
    padding: 10px 50px;
    margin: 20px 230px 0px;
    background-color: rgba(49, 49, 49, 0.3);
    transition: 0.5s;
}
.popup_form input[type="submit"]:hover{
    background-color: rgba(66, 66, 66, 0.8);
}
.popup_form input[type="submit"]:active{
    background-color: rgba(27, 27, 27, 0.8);
    transition: 0s;
}
.popup_form input[type="checkbox"]{
    margin: 5px 0px 0px 70px;
    opacity: 0.4;
}
.popup_form input[type="checkbox"]:checked{
    margin: 5px 0px 0px 70px;
    opacity: 1;
    accent-color: rgb(90, 90, 90);
}

.popup_form a{
    color: rgb(48, 48, 48);
    transition: 0.3s;
}

.popup_form a:hover{
    color: rgb(100, 100, 100);
}
.popup_form a:active{
    color: rgb(41, 41, 41);
    transition: 0s;
}
.popup_form h6{
    margin-left: 70px;
}
#popup_exit{
    position: absolute;
    translate: 273px -320px;
    z-index: 10;
    background-color: rgba(63, 63, 63, 0);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.flex_form_popup{
    display: flex;
    flex-direction: row;
}

label{
    font-size: 13px;
}

.noticias_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 50px 00px;
}
.frame_noticias{
    background-color: #313131;
    width: 435px;
    height: 600px;
    border-radius: 20px;
    margin: 40px;
    transition: 0.5s;
}
.frame_noticias a{
    text-decoration: none;
    color: rgb(179, 179, 179);
}

.frame_noticias:hover{
    box-shadow: 0px 0px 54px 0px rgb(187, 187, 187);
    background-color: #2e2e2e;;
}

.noticia_imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(95, 95, 95);
    width: 435px;
    height: 330px;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
    transition: 0.5s;
}

.noticia_imagen img{
    object-fit: contain;
    transition: 0.5s;
}


.frame_noticias:hover img{
    transform: scale(1.1);
}

.noticia_info{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: justify;
    border-radius: 0px 0px 20px 20px;
    height: 270px;
    width: 373px;
    padding: 30px;
}
.noticia_info_titulo{
    text-align: center;
}

.noticia_ultima_hora{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 45px;
    width: 45px;
    background-color: red;
    border-radius: 40px;
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    transform: translate(410px, -10px);
    z-index: 10;
}

.noticia_ultima_hora h6{
    color: white;
    margin: 0px;
}

.ext_noticia_titulo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: rgb(95, 95, 95);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:bottom;
    height: 600px;
}

#noticia{
    background-image: url(https://img.redbull.com/images/c_crop,x_0,y_188,h_2491,w_4428/c_fill,w_1000,h_640/q_auto,f_auto/redbullcom/2022/6/30/hbad1ecz5nqcl5z741xv/sergio-perez-lewis-hamilton-f1-gp-bahein-2022);
}

.ext_noticia_titulo h1{
    font-size: 50px;
    margin: 30px 100px;
}
.ext_noticia_content{
    margin: 70px 150px;
}

::selection{
    background-color: rgb(134, 134, 134);
}
